<p id="notice"><%= notice %></p>

<h1>Productors</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Country</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @productors.each do |productor| %>
      <tr>
        <td><%= productor.name %></td>
        <td><%= productor.country %></td>
        <td><%= link_to 'Show', productor %></td>
        <td><%= link_to 'Edit', edit_productor_path(productor) %></td>
        <td><%= link_to 'Destroy', productor, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Productor', new_productor_path %>
