<p id="notice"><%= notice %></p>

<p>
  <strong>Chinese name:</strong>
  <%= @person.chinese_name %>
</p>

<p>
  <strong>English name:</strong>
  <%= @person.english_name %>
</p>

<p>
  <strong>Country:</strong>
  <%= @person.country %>
</p>

<p>
  <strong>Gender:</strong>
  <%= @person.gender %>
</p>

<p>
  <strong>Birthday:</strong>
  <%= @person.birthday %>
</p>

<%= link_to 'Edit', edit_person_path(@person) %> |
<%= link_to 'Back', people_path %>
