<%= form_for(oscar) do |f| %>
  <% if oscar.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(oscar.errors.count, "error") %> prohibited this oscar from being saved:</h2>

      <ul>
      <% oscar.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :year %>
    <%= f.number_field :year %>
  </div>

  <div class="field">
    <%= f.label :best_picture_id %>
    <%= f.text_field :best_picture_id %>
  </div>

  <div class="field">
    <%= f.label :best_director_id %>
    <%= f.text_field :best_director_id %>
  </div>

  <div class="field">
    <%= f.label :best_actor_id %>
    <%= f.text_field :best_actor_id %>
  </div>

  <div class="field">
    <%= f.label :best_actress_id %>
    <%= f.text_field :best_actress_id %>
  </div>

  <div class="field">
    <%= f.label :best_supporting_actor_id %>
    <%= f.text_field :best_supporting_actor_id %>
  </div>

  <div class="field">
    <%= f.label :best_supporting_actress_id %>
    <%= f.text_field :best_supporting_actress_id %>
  </div>

  <div class="field">
    <%= f.label :best_animated_feature_flim_id %>
    <%= f.text_field :best_animated_feature_flim_id %>
  </div>

  <div class="field">
    <%= f.label :best_foreign_language_flim_id %>
    <%= f.text_field :best_foreign_language_flim_id %>
  </div>

  <div class="field">
    <%= f.label :best_original_screenplay_id %>
    <%= f.text_field :best_original_screenplay_id %>
  </div>

  <div class="field">
    <%= f.label :best_adapted_screenplay_id %>
    <%= f.text_field :best_adapted_screenplay_id %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
