<p id="notice"><%= notice %></p>

<p>
  <strong>Year:</strong>
  <%= @oscar.year %>
</p>

<p>
  <strong>Best picture:</strong>
  <%= @oscar.best_picture %>
</p>

<p>
  <strong>Best director:</strong>
  <%= @oscar.best_director %>
</p>

<p>
  <strong>Best actor:</strong>
  <%= @oscar.best_actor %>
</p>

<p>
  <strong>Best actress:</strong>
  <%= @oscar.best_actress %>
</p>

<p>
  <strong>Best supporting actor:</strong>
  <%= @oscar.best_supporting_actor %>
</p>

<p>
  <strong>Best supporting actress:</strong>
  <%= @oscar.best_supporting_actress %>
</p>

<p>
  <strong>Best animated feature flim:</strong>
  <%= @oscar.best_animated_feature_flim %>
</p>

<p>
  <strong>Best foreign language flim:</strong>
  <%= @oscar.best_foreign_language_flim %>
</p>

<p>
  <strong>Best original screenplay:</strong>
  <%= @oscar.best_original_screenplay %>
</p>

<p>
  <strong>Best adapted screenplay:</strong>
  <%= @oscar.best_adapted_screenplay %>
</p>

<%= link_to 'Edit', edit_oscar_path(@oscar) %> |
<%= link_to 'Back', oscars_path %>
